<!DOCTYPE html>
<html>
<head>
    <title>Test Form</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success">
            <h4>Test Form Working!</h4>
            <p>If you see this, the view rendering is working.</p>
        </div>
    </div>
</body>
</html>