<% layout('layouts/main', { title: 'Home' }) %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Our Application!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>Feature 1</h3>
        <p>Description of feature 1 goes here. This is a great place to highlight what makes your application special.</p>
    </div>
    <div class="col-md-4">
        <h3>Feature 2</h3>
        <p>Description of feature 2 goes here. This is another great feature that users will love.</p>
    </div>
    <div class="col-md-4">
        <h3>Feature 3</h3>
        <p>Description of feature 3 goes here. This feature will really set you apart from the competition.</p>
    </div>
</div>